* {
    margin: 0;
    padding: 0;
}

.geral{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #C0E1DF;
    /* background: url('src/img/fundo.svg') no-repeat center center fixed; */
    /* background-size: cover; */
}

.containerFeed{
    min-height: 100vh;
    display: contents;
    background-color: #C0E1DF;
    align-items: center;
    position: fixed;
    /* z-index: 1; */
}

.bodyFeed {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #C0E1DF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topHeader {
    background: #002726;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.logo-header{
    display: flex;
    margin-top: -5px;
}

.img-menu{
    align-items: flex-start;
    display: flex;
    cursor: pointer;
    margin-top: 5px;
}

.menu{
    width: 250px;
    height: 100vh;
    position: absolute;
    background-color: #04BFAD;
    display: none;
    flex-direction: column;
    justify-content: start;
    /* z-index: 10; */
}

.form-feed{
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
}

.posts {
    display: flex;
    justify-content: center;
    position: relative;
    width: 480px;
    height: 140px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 10px;
    margin: 10px;
  }

.nickname{
    width: auto;
    height: 19px;
    /* z-index: 10; */
    position: absolute;
    text-align: left;
    display: flex;
    justify-content: right;
}

.container-text-post{
    background-color: aqua;
    position: absolute;
    margin-top: 25px;
    width: 410px;
    height: 100px;
    border-radius: 20px;
}

.text{
    display: flex;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 10px;
}

/* .edit-button {
    background-color: #007bff;
    width: 40px;
    height: 20px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    margin: 1px;
    padding: 2px;
} */

.button-post{
    background-color: #007bff;
    border-radius: 8px;
    min-width: 45px;
    min-height: 20px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    margin-top: -50px; /* Ajuste conforme necessário */
    margin-left: -20px;
    position: absolute;
    bottom: 1px;
    right: 6px;
    
}

.edit-button{
    background-color: #007bff;
    border-radius: 8px;
    min-width: 45px;
    min-height: 20px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    margin-top: -50px; /* Ajuste conforme necessário */
    margin-left: -20px;
    position: absolute;
    bottom: 1px;
    right: 6px;
    
}

.delete-button{
    background-color: #007bff;
    border-radius: 8px;
    min-width: 45px;
    min-height: 20px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    margin-top: -50px; /* Ajuste conforme necessário */
    margin-left: -20px;
    position: absolute;
    bottom: 1px;
    right: 60px;
    }


.area-button-postar{
    width: 40px;
    height: 20px;
    margin-top: -50px; /* Ajuste conforme necessário */
    margin-left: -20px;
    position: absolute;
    bottom: 2px;
    right: 6px;
    /* z-index: 2; */
}

.containerPubli{
    display: flex;
    justify-content: center;
    width: 480px;
    height: 140px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 10px;
    margin: 10px;
    position: relative; 
}

.user-text-area{
    resize: none;
    background-color: #E3F3F2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 5px;
    width: 410px;
    height: 100px;
    border: none;
    border-radius: 20px;
    /* z-index: 10; */
}

ul{
    list-style: none;
}

.cat{
    width: 250px;
    height: auto;
    cursor: pointer;
    display: inline-flex;
    margin-top: 19px;
}

.titulo{
    font-family: 'Imprima', sans-serif;
    font-size: 22px;
    margin-left: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none; /*tira o sublinhado do link */
}

.logout, .feed{
    cursor: pointer;
    margin-left: 25px;

}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 100;
}
.button-save-modal{
    background-color: #007bff;
    border-radius: 8px;
    min-width: 45px;
    min-height: 20px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    margin-top: -50px; /* Ajuste conforme necessário */
    margin-left: -20px;
    position: absolute;
    bottom: 1px;
    right: 60px;
}