* {
    margin: 0;
    padding: 0;
}

.geral{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #C0E1DF;
    /* background: url('src/img/fundo.svg') no-repeat center center fixed; */
    /* background-size: cover; */
}

.containerFeed{
    height: 100vh;
    width: 60vw;
    display: contents;
    background-color: #C0E1DF;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.template {
    width: 60vw;
    margin: 0;
    padding: 0;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topHeader {
    background: #002726;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.logo-header{
    display: flex;
    margin-top: -5px;
}

.img-menu{
    align-items: flex-start;
    display: flex;
    cursor: pointer;
    margin-top: 5px;
}

.menu{
    width: 250px;
    height: 100vh;
    position: absolute;
    background-color: #04BFAD;
    display: none;
    flex-direction: column;
    justify-content: start;
    z-index: 10;
}

.form-feed{
    justify-content: center;
    display: flex;
}

.posts {
    display: flex;
    justify-content: center;
    width: 35vw;
    height: 20vh;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 10px;
    margin: 10px;
  }

.container-text-post{
    background-color: aqua;
    margin-top: 14px;
    width: 35vw;
    height: 15vh;
    border-radius: 20px;
}

.text{
    display: flex;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    font-size: large;
}

/* .edit-button {
    background-color: #007bff;
    width: 40px;
    height: 20px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    margin: 1px;
    padding: 2px;
} */

.user-text-area{
    resize: none; /*tira o ajuste de campo */
}

ul{
    list-style: none;
}

.cat{
    width: 250px;
    height: auto;
    cursor: pointer;
    display: inline-flex;
    margin-top: 19px;
}

.titulo{
    font-family: 'Imprima', sans-serif;
    font-size: 22px;
    margin-left: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none; /*tira o sublinhado do link */
}

.logout, .feed{
    cursor: pointer;
    margin-left: 25px;

}